body {
    margin: 0
}

#box {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 300px
}

#app {
    display: inline-block
}

.shop_id {
    margin: 0;
    position: absolute;
    display: inline-block;
    background: rgba(105, 101, 101, .6);
    text-align: center;
    font-size: 16px;
    width: 200px;
    color: #fff
}

.shop_id>dd {
    margin: 0;
    line-height: 42px
}

.shop_id>dd:hover {
    background: #ff6700
}

a {
    text-decoration: none;
    color: #fff
}

.wcnm {
    margin: 0px;
    margin-left: 200px;
    position: absolute;
    display: inline-block;
    background: rgba(105, 101, 101, .6);
    text-align: center;
    font-size: 16px;
    width: 234px;
    color: #fff
}

.wcnm>dd {
    line-height: 20px;
    margin-left: 0px
}